body {
	margin-top: 10px;
	padding: 0;
	background: url(images/background.jpg) repeat-x left top;
	font-family: Trebuchet MS, "Arial", Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
}

h1 {
	font-size: 32px;
	margin: 0;
	font-weight: normal;
	color: #17444c;
}

h2 {
	font-size: 23px;
	margin: 0;
	font-weight: normal;
	color: #17444c;
}

p, ul, ol {
	margin: 0 0 1px 0;
	text-align: justify;
	line-height: 20px;
}


a:link {
	color: #17444c;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: blink;
	text-decoration: underline;
	color: #297987;
}

a:visited {
	color: #297987;
}

img {
	border: none;
}

img.left {
	float: left;
	margin-right: 15px;
}

img.right {
	float: right;
	margin-left: 15px;
}


/* Header */

#header {
	width: 860px;
	height: 50px;
	margin: 0 auto;
	background: url(images/menu.jpg) no-repeat left top;
}

/* Menu */

#menu {
	float: left;
	width: 860px;
	height: 54px;
}

#menu ul {
	margin: 0;
	padding: 0px 0 0 20px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	margin-right: 7px;
	padding: 10px 20px;
	font: 15px Trebuchet MS, "Arial", Helvetica, sans-serif;
	text-decoration: blink;
	font-weight: bold;
	color: #FFFFFF;
}

#menu .button a {
	font-style: normal;
	color: #FFFFFF;
}


#menu .button a:hover {
	text-decoration: blink;
	font-weight: bold;
	color: #297987;

}


/** LOGO */

#logoall {
	width: 860px;
	margin: 0 auto;
	padding: 10px 0 5px 0;
}

#logo {
	width: 860px;
	height: 150px;
	margin: 0 auto;
	background: url(images/pan1.jpg) no-repeat left top;
}


#logo h1 { 
	float: left;
	padding: 5px 0 0 20px;
	font-family: Trebuchet MS, "Arial", Helvetica, sans-serif;
	font-size:45px;
	font-weight: bold;
	font-style: oblique;
  font-variant: small-caps;
	color: #17444c;
}

#logo h1 a {
	text-decoration: none;
	color: #17444c; 
}


#logo p a {
	text-decoration: none;
	color: #17444c;
}


/* Page */

#page {
	width: 860px;
	margin: 0 auto;
}

/* Content */

#bodystyle {
 	width: 860px;
 	min-height: 330px;
}

.content {
	padding: 15px 15px;
}

.content .title {
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.content h1 {
}

.content h2 {
  padding: 20px 40px 0  0 ; 
  height: 32px;
	font-size: 18px;
	color: #17444c;
}

.content table {
  width: 830px;
  min-height: 330px;
 	margin: 0 auto;
 
}

.content th {
  padding: 0 0 0 0;
  width: 276px;
  text-align: center;
}


.content td {
  padding: 15px 0 0 0;
  width: 276px;
  text-align: left;
  font-size: 14px;
}

.content .entry {
  min-height: 280px
	padding: 0 15px;
}


#unten1 {
	width: 860px;
	height: 64px;
	margin: 0 auto;
	background: url(images/unten.jpg) no-repeat left top;
}

#unten {
	margin: 0 auto;
	height: 64px;
	min-height: 64px;
	padding: 0;
}


#fusszeile{
	padding-top: 5px;
	text-align: center;
	font-size: 10px;
	color: #FFFFFF;
}

